@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.canvas-container {
    margin: 0 auto;
}

.settings {
    display: flex;
    justify-content: center;
    margin: .625rem;
}